<%= form_with model: @profile, url: profile_path, local: true, class: "needs-validation" do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
  </div>

  <div class="mb-3">
    <%= f.label :bio, class: "form-label" %>
    <%= f.text_area :bio, class: "form-control", placeholder: "Tell us about yourself" %>
  </div>

  <div class="mb-3">
    <%= f.label :patron_deity, class: "form-label" %>
    <%= f.select :patron_deity, Profile::NORSE_DEITIES, { prompt: "Select your patron deity" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, class: "form-label" %>
    <%= f.text_field :image, class: "form-control", placeholder: "Enter image URL (optional)" %>
  </div>


  <div class="mb-3">
    <%= f.submit "Save Profile", class: "btn btn-primary" %>
  </div>
<% end %>
