<div class="home-body">
  <canvas id="space" data-controller="stars">
  </canvas>
  <div class="content">
    <h1>Yggdrasil Realm</h1>
    <p>Step into the realm of gods and legends, where every tale matters</p>

    <!-- Show sign-up / login here if user is not signed in -->
    <% if !user_signed_in? %>
      <div class="custom-auth-buttons">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
        <%= link_to "Login", new_user_session_path, class: "btn" %>
      </div>
    <% else %>
      <!-- If already logged in, you can show whatever you prefer here -->
      <h2>Welcome back, <%= current_user.email %>!</h2>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-btn" %>
      <%= link_to "Back to Profile", profile_path, class: "btn link-profile my-2"%>
    <% end %>
  </div>
</div>
