<div class="card mb-2" id="comment_<%= comment.id %>">
  <div class="card-body p-2">
    <h6 class="card-subtitle mb-1 text-muted"><%= comment.user.email %></h6>
    <p class="card-text"><%= comment.content %></p>
    <small class="text-muted"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small>

    <!-- Section des likes pour les commentaires -->
    <div id="comment_<%= comment.id %>_likes">
      <%= comment.likes.count %> Likes
      <% like = current_user.likes.find_by(post: comment) %>
      <% if like.nil? %>
        <%= button_to "Like", post_likes_path(comment), method: :post, params: { like: { post_id: comment.id } }, 
                      class: "btn btn-primary btn-sm", 
                      data: { turbo_stream: true } %>
      <% else %>
        <%= button_to "Unlike", post_like_path(comment, like), method: :delete, 
                      class: "btn btn-danger btn-sm", 
                      data: { turbo_stream: true, confirm: "Are you sure to delete your like?" } %>
      <% end %>
    </div>
  </div>
</div>
